<h1>CREATE tbl_user_progress HERE</h1>

{{#each errors}}

    <div class="alert alert-danger">
    {{message}}
    </div>
{{/each}}

<form action="/admin/products/create" method="post" enctype="multipart/form-data">

      <div class="form-group">
        <label for="img"> ProductImage</label>
        <input type="file" name="img" class="form-control">
    </div>
    <div class="form-group">
        <label for="name"> ProductName </label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Enter product name">
    </div>
     <div class="form-group">
        <label for="coins"> Req. Coins </label>
        <input type="text" name="coins" class="form-control" id="coins" placeholder="Enter coins">
    </div>
     <div class="form-group">
        <label for="act_price"> Actual Price </label>
        <input type="text" name="act_price" class="form-control" id="act_price" placeholder="Enter act_price">
    </div>
     <div class="form-group">
        <label for="disc_price"> After Disc Price </label>
        <input type="text" name="disc_price" class="form-control" id="disc_price" placeholder="Enter disc_price">
    </div>
     <div class="form-group">
        <label for="desc"> Desc </label>
        <input type="text" name="desc" class="form-control" id="desc" placeholder="Enter description">
    </div>

     <div class="form-group">
        <label for="status" class="form-check-label"> 
        <input type="checkbox" name="status" class="form-check-input" id="status" >
        Status
        </label>
    </div>

    <button type="submit" class="btn btn-primary"> CREATE </button>

</form>