<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/admin">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
       


        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="product">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseproduct" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Products</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseproduct">
            <li>
              <a href="/admin/products">All Products</a>
            </li>
            <li>
              <a href="/admin/products/create">Add Products</a>
            {{!-- </li>
             <li>
              <a href="/admin/featured">All Featured</a>
            </li>
            <li>
              <a href="/admin/featured/create">Add Featured</a>
            </li> --}}
          </ul>
        </li>


        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="category">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsecategory" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Category</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapsecategory">
            <li>
              <a href="/admin/category">All Categories</a>
            </li>
            <li>
              <a href="/admin/category/create">Create Category</a>
            </li>
          </ul>
        </li>

       
        
        {{!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Categories">
          <a class="nav-link" href="/admin/categories">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Categories</span>
          </a>
        </li>
--}}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Categories">
          <a class="nav-link" href="/admin/comments">
            <i class="fa fa-fw fa-comments"></i>
            <span class="nav-link-text">Comments</span>
          </a>
        </li> 

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="settings">
          <a class="nav-link" href="/admin/settings">
            <i class="fa fa-fw fa-users"></i>
            <span class="nav-link-text">Settings</span>
          </a>
        </li>
      </ul>